body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #1b73bb;
}

#gamebody {
    position: relative;
    background-color: white;
    display: inline-block;
    padding: 20px;
    max-width: 100%;
    box-sizing: border-box;
    background: #CAF0F8;
}

h1 {
    margin-top: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    max-width: 33%;
    padding: 10px 20px;
    margin: 0 10px;
    color: white;
    cursor: pointer;
}


#button1 {
    background-color: teal;
}

#button1:hover {
    background-color: #0a4361;
}

#button2 {
    background-color: red;
}

#button2:hover {
    background-color: darkred;
}

#button3 {
    background-color: limegreen;
}

#button3:hover {
    background-color: darkgreen;
}

#bothcontainers {
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.image-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    margin: 2px;

}

img {
    width: 100px;
    height: 100px;
}

#result {
    margin-top: 20px;
}

#resetButton {
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: #1b73bb;
    color: white;
    border: 2px solid black;
    cursor: pointer;
    max-width: 30%;
    max-height: 10%;
    text-align: center;
}

#resetButton:hover {
    background-color: #0a4361;
}

@media screen and (min-width: 768px) {
    img{
        width: 300px;
        height: 300px;
    }
}